{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'home/navbar.html.twig' %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} {{ attribute(cartProductsFormatted, product.id) > 1 ? '/ ' ~ attribute(cartProductsFormatted, product.id) * product.price : '' }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ attribute(cartProductsFormatted, product.id) }}</td>
                <td>
                    <a class="btn btn-outline-success" style="color: #fff;"
                       href="{{ path('add_to_cart',{'product':product.id}) }}">Add to cart</a>
                    {% if product.id in cartProducts %}
                        <a class="btn btn-outline-success" style="color: #fff;"
                           href="{{ path('remove_from_cart',{'product':product.id}) }}">Remove from cart</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 style="color: #fff">Create order</h2>
    {{ form_start(form, {'action' : path('order_new')}) }}
        {{ form_row(form.address, {'row_attr': {'style': 'color: #fff'}}) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block scripts %}
    <script>
        document.body.style.backgroundColor = "#343a40";
    </script>
{% endblock %}
