{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'home/navbar.html.twig' %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <button class="btn btn-outline-success" style="margin-left: 10px"><a href="{{ path('show_products_by_category',{'category': category.id}) }}" style="color: #fff; text-decoration: none">Show Products</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block scripts %}
        <script>
            document.body.style.backgroundColor = "#343a40";
        </script>
    {% endblock %}
{% endblock %}