{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" >Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categories') }}">Categories</a>
                </li>
            </ul>
        </div>
    </div>
    {% if app.user %}
       <span style="color: #fff;width: 150px;">{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</span>
        <button class="btn btn-outline-success"><a style="color: #fff;" href="{{ path('app_logout') }}">Logout</a></button>
    {% else %}
        <button class="btn btn-outline-success"><a href="{{ path('app_login') }}"
                                                   style="color: #fff; text-decoration: none">Login</a></button>
        <button class="btn btn-outline-success"><a href="{{ path('app_register') }}"
                                                   style="color: #fff; text-decoration: none">Register</a></button>
    {% endif %}
    <a class="btn btn-outline-success" style="color: #fff;"
       href="{{ path('show_cart') }}">Cart</a>
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.getRoles() %}
            <button class="btn btn-outline-success"><a href="{{ path('category_index') }}"
                                                       style="color: #fff; text-decoration: none">Category</a></button>
            <button class="btn btn-outline-success"><a href="{{ path('product_index') }}"
                                                       style="color: #fff; text-decoration: none">Product</a></button>
        {% endif %}
    {% endif %}
</nav>
{% endblock %}