{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    {% include 'home/navbar.html.twig' %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    <a href="{{ path('category_delete', {'id': category.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn-primary" style="margin-left: 10px"><a href="{{ path('category_new') }}" style="color: #fff; text-decoration: none">Create new</a></button>
{% endblock %}
