{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    {% include 'home/navbar.html.twig' %}
    <h1>Create new Category</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('category/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
