{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    {% include 'home/navbar.html.twig' %}
    <h1>Create new Product</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('product/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
